In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# setting project path
import os
import sys

gparent = os.path.join(os.pardir, os.pardir)
sys.path.append(gparent)

# imports
import pandas as pd
import numpy as np
pd.options.display.max_rows = 300

## Background Information

This projects aims to create and train a predictive model on a dataset of Seattle Terry Stops Data. The initial data was obtain as a .csv file of 47,213 rows and 23 feature columns of Terry Stops Data.

Data set obtained from:
[Link](https://catalog.data.gov/dataset/terry-stops)

Data Columns Explanations:
[Link](https://data.seattle.gov/Public-Safety/Terry-Stops/28ny-9ts8)

## Data Cleaning

### Initial Steps
Loading the data, checking the info.

In [3]:
# creating path to data
path = os.path.join(gparent, 'data/raw', 'Terry_Stops.csv')
df = pd.read_csv(path)

In [4]:
# checking first few rows
df.head()

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,...,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,20150000001463,28806,Field Contact,None,5670,1965,M,White,...,07:59:00,-,-,-,NaN,N,N,-,-,-
2,-,-1,20150000001516,29599,Field Contact,None,4844,1961,M,White,...,19:12:00,-,-,-,NaN,N,-,-,-,-
3,-,-1,20150000001670,32260,Field Contact,None,7539,1963,M,White,...,04:55:00,-,-,-,NaN,N,N,-,-,-
4,-,-1,20150000001739,33155,Field Contact,None,6973,1977,M,White,...,00:41:00,-,-,-,NaN,N,N,-,-,-

In [5]:
#  checking info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47213 entries, 0 to 47212
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Subject Age Group         47213 non-null  object
 1   Subject ID                47213 non-null  int64
 2   GO / SC Num               47213 non-null  int64
 3   Terry Stop ID             47213 non-null  int64
 4   Stop Resolution           47213 non-null  object
 5   Weapon Type               47213 non-null  object
 6   Officer ID                47213 non-null  object
 7   Officer YOB               47213 non-null  int64
 8   Officer Gender            47213 non-null  object
 9   Officer Race              47213 non-null  object
 10  Subject Perceived Race    47213 non-null  object
 11  Subject Perceived Gender  47213 non-null  object
 12  Reported Date             47213 non-null  object
 13  Reported Time             47213 non-null  object
 14  Initial Call Type         47213 non-null  object
 15  Final Call Type           47213 non-null  object
 16  Call Type                 47213 non-null  object
 17  Officer Squad             46609 non-null  object
 18  Arrest Flag               47213 non-null  object
 19  Frisk Flag                47213 non-null  object
 20  Precinct                  47213 non-null  object
 21  Sector                    47213 non-null  object
 22  Beat                      47213 non-null  object
dtypes: int64(4), object(19)
memory usage: 8.3+ MB

### Checking for Nulls

In [6]:
# checking for nulls
df.isna().sum()

Subject Age Group             0
Subject ID                    0
GO / SC Num                   0
Terry Stop ID                 0
Stop Resolution               0
Weapon Type                   0
Officer ID                    0
Officer YOB                   0
Officer Gender                0
Officer Race                  0
Subject Perceived Race        0
Subject Perceived Gender      0
Reported Date                 0
Reported Time                 0
Initial Call Type             0
Final Call Type               0
Call Type                     0
Officer Squad               604
Arrest Flag                   0
Frisk Flag                    0
Precinct                      0
Sector                        0
Beat                          0
dtype: int64

### Handling Nulls
It appears that there 604 null values, but there is also a placeholder value of `'-'` that we need to deal with as well. Replacing both with the string `'NA'`.

In [7]:
# filling nulls and replacing - values
df['Officer Squad'].fillna('NA', inplace=True)
df.replace('-', 'NA', inplace=True)

In [8]:
#  checking work
df.isna().sum()

Subject Age Group           0
Subject ID                  0
GO / SC Num                 0
Terry Stop ID               0
Stop Resolution             0
Weapon Type                 0
Officer ID                  0
Officer YOB                 0
Officer Gender              0
Officer Race                0
Subject Perceived Race      0
Subject Perceived Gender    0
Reported Date               0
Reported Time               0
Initial Call Type           0
Final Call Type             0
Call Type                   0
Officer Squad               0
Arrest Flag                 0
Frisk Flag                  0
Precinct                    0
Sector                      0
Beat                        0
dtype: int64

### Checking Feature Columns
Checking out the data, looking for any patterns & problems.

## Subject Age Group Value Counts

In [9]:
df['Subject Age Group'].value_counts()

26 - 35         15707
36 - 45         10017
18 - 25          9452
46 - 55          6111
56 and Above     2399
1 - 17           1978
NA               1549
Name: Subject Age Group, dtype: int64

## Subject ID Value Counts

In [10]:
df['Subject ID'].value_counts()

-1              34769
 15595726686       19
 7753260438        18
 7727117712        13
 8753759694        11
                ...
 7729810778         1
 11891047764        1
 8627619147         1
 12120573251        1
 19740561406        1
Name: Subject ID, Length: 9169, dtype: int64

### Stop Resolution

In [11]:
# checking uniques
df['Stop Resolution'].unique()

array(['Arrest', 'Field Contact', 'Citation / Infraction',
       'Offense Report', 'Referred for Prosecution'], dtype=object)

### Creating the Target Feature
Creating a binary feature where a value of 1 means an arrest occurred and moving it to the front of the data frame.

In [12]:
# creating and binarizing the target feature
df['Target'] = df['Stop Resolution']

df['Target'] = df['Target'].replace('Arrest', 1)
df['Target'] = df['Target'].map(lambda x: 0 if x!=1 else 1)

In [13]:
# moving target to the front of the data frame
column_name = 'Target'
first_column = df.pop(column_name)
df.insert(0, column_name, first_column)

In [14]:
# df['Target'].value_counts()

In [15]:
df['Target'].value_counts(normalize=True)

0    0.752886
1    0.247114
Name: Target, dtype: float64

## Analysis: 24% of Stops End in Arrest

### Creating a Weapons Flag
Creating a feature that flags if a weapon was found during the stop.

In [16]:
df['Weapon Type'].value_counts()

None                                    32565
NA                                      11855
Lethal Cutting Instrument                1482
Knife/Cutting/Stabbing Instrument         633
Handgun                                   291
Firearm Other                             100
Blunt Object/Striking Implement            86
Club, Blackjack, Brass Knuckles            49
Firearm                                    38
Mace/Pepper Spray                          28
Other Firearm                              23
Firearm (unk type)                         15
Taser/Stun Gun                             10
Club                                        9
Rifle                                       7
None/Not Applicable                         7
Fire/Incendiary Device                      6
Shotgun                                     3
Personal Weapons (hands, feet, etc.)        2
Automatic Handgun                           2
Brass Knuckles                              1
Blackjack                                   1
Name: Weapon Type, dtype: int64

In [17]:
# creating weapons flag
df['Weapon Flag'] = df['Weapon Type']

In [18]:
df['Weapon Flag'].value_counts()

None                                    32565
NA                                      11855
Lethal Cutting Instrument                1482
Knife/Cutting/Stabbing Instrument         633
Handgun                                   291
Firearm Other                             100
Blunt Object/Striking Implement            86
Club, Blackjack, Brass Knuckles            49
Firearm                                    38
Mace/Pepper Spray                          28
Other Firearm                              23
Firearm (unk type)                         15
Taser/Stun Gun                             10
Club                                        9
Rifle                                       7
None/Not Applicable                         7
Fire/Incendiary Device                      6
Shotgun                                     3
Personal Weapons (hands, feet, etc.)        2
Automatic Handgun                           2
Brass Knuckles                              1
Blackjack                                   1
Name: Weapon Flag, dtype: int64

In [19]:
df['Weapon Flag'] = df['Weapon Flag'].replace(['None','NA'], 0)

In [20]:
df['Weapon Flag'] = df['Weapon Flag'].map(lambda x: 1 if x!=0 else 0)

In [21]:
df['Weapon Flag'].value_counts(normalize=True)

0    0.940843
1    0.059157
Name: Weapon Flag, dtype: float64

## Analysis: Weapons Found in 6% of Stops

### Officer ID

In [22]:
# checking uniques
df['Officer ID'].unique()

array(['7500  ', '5670  ', '4844  ', ..., '6237  ', '6983  ', '5917  '],
      dtype=object)

### Fixing the Officer ID Column
Stripping whitespaces from the IDs.

In [23]:
# stripping whitespaces
df['Officer ID']= df['Officer ID'].apply(lambda x: x.strip())

In [24]:
len(df['Officer ID'].unique())

1214

## Analysis: 1214 Officers Reported Stops

### Officer Race

In [25]:
#  checking uniques
df['Officer Race'].unique()

array(['Black or African American', 'White', 'Hispanic or Latino',
       'Asian', 'American Indian/Alaska Native', 'Two or More Races',
       'Not Specified', 'Nat Hawaiian/Oth Pac Islander', 'Unknown'],
      dtype=object)

### Renaming Officer Race Categories for Brevity

In [26]:
# renaming categories for brevity
officer_race_list = ['Black or African American', 'White', 'Hispanic or Latino',
       'Asian', 'American Indian/Alaska Native', 'Two or More Races',
       'Not Specified', 'Nat Hawaiian/Oth Pac Islander', 'Unknown']

officer_replace_list = race_list = ['Black', 'White', 'Hispanic',
       'Asian', 'N_American', 'Multi-Racial',
       'NA', 'P_Islander', 'Unknown']

df['Officer Race'] = df['Officer Race'].replace(officer_race_list, officer_replace_list)

In [27]:
df['Officer Race'].value_counts(normalize=True)

White           0.755110
Hispanic        0.058077
Multi-Racial    0.056171
Asian           0.042975
Black           0.039820
NA              0.030775
P_Islander      0.009616
N_American      0.006714
Unknown         0.000741
Name: Officer Race, dtype: float64

## Analysis: 76% of Officers Reporting Stops Were White

### Officer Gender

In [28]:
# checking uniques
df['Officer Gender'].unique()

array(['M', 'F', 'N'], dtype=object)

In [29]:
df['Officer Gender'].value_counts(normalize=True)

M    0.885053
F    0.114333
N    0.000614
Name: Officer Gender, dtype: float64

## Analysis: 88% of Officers Were Male

### Subject Race

In [30]:
# checking uniques
df['Subject Perceived Race'].unique()

array(['Asian', 'NA', 'White', 'Black or African American', 'Other',
       'Unknown', 'American Indian or Alaska Native', 'Hispanic',
       'Multi-Racial', 'Native Hawaiian or Other Pacific Islander'],
      dtype=object)

### Renaming Subject Race Categories for Brevity
Renaming, checking value counts and proportions.

In [31]:
# renaming categories for brevity
race_list = ['Asian', 'NA', 'White', 'Black or African American', 'Other',
       'Unknown', 'American Indian or Alaska Native', 'Hispanic',
       'Multi-Racial', 'Native Hawaiian or Other Pacific Islander']

replace_list =['Asian', 'NA', 'White', 'Black', 'Other',
       'Unknown', 'N_American', 'Hispanic',
       'Multi-Racial', 'P_Islander']

df['Subject Perceived Race'] = df['Subject Perceived Race']\
                                 .replace(race_list, replace_list)

In [32]:
print(df['Subject Perceived Race'].value_counts())
df['Subject Perceived Race'].value_counts(normalize=True)

White           23052
Black           14046
Unknown          2626
NA               1893
Hispanic         1684
Asian            1536
N_American       1359
Multi-Racial      809
Other             152
P_Islander         56
Name: Subject Perceived Race, dtype: int64

White           0.488255
Black           0.297503
Unknown         0.055620
NA              0.040095
Hispanic        0.035668
Asian           0.032533
N_American      0.028784
Multi-Racial    0.017135
Other           0.003219
P_Islander      0.001186
Name: Subject Perceived Race, dtype: float64

## Analysis: Subject Racial Breakdown

- White 49%

- Black 30%

- Unknown 6%

- NA 4%

- Hispanic 4%

- Asian 3%

- Native American 3%

- Multi-Racial 2%

- Other .3%

- Pacific Islander .1%

### Subject Gender

In [33]:
# checking uniques
df['Subject Perceived Gender'].unique()

array(['Male', 'NA', 'Female', 'Unable to Determine', 'Unknown',
       'Gender Diverse (gender non-conforming and/or transgender)'],
      dtype=object)

### Renaming Subject Gender Categories

In [34]:
# renaming categories for brevity
gender_list = ['Male', 'NA', 'Female', 'Unable to Determine', 'Unknown',
       'Gender Diverse (gender non-conforming and/or transgender)']

gender_replace = ['Male', 'NA', 'Female', 'Undetermined', 'Unknown',
       'Gender Diverse']

df['Subject Perceived Gender'] = df['Subject Perceived Gender'].replace(gender_list, gender_replace)

In [35]:
df['Subject Perceived Gender'].value_counts(normalize=True)

Male              0.783534
Female            0.202974
Undetermined      0.006905
NA                0.005931
Unknown           0.000530
Gender Diverse    0.000127
Name: Subject Perceived Gender, dtype: float64

## Analysis: 78% of Subjects Were Male

### Date & Time Features

In [36]:
# checking date and time columns
print(df['Reported Date'][:2])
df['Reported Time'][:2]

0    2015-10-16T00:00:00
1    2015-03-19T00:00:00
Name: Reported Date, dtype: object

0    11:32:00
1    07:59:00
Name: Reported Time, dtype: object

### Converting Date & Time Columns to Datetime Types

In [37]:
# converting date & time columns to datetime types
df = df.astype({'Reported Time':'datetime64', 'Reported Date':'datetime64'})

### Creating Year, Month, DOM, DOW, and Hour Features

In [38]:
#  getting year, month, day of month, day of week, and hour features
df['Reported Year'] = df['Reported Date'].dt.year
df['Reported Month'] = df['Reported Date'].dt.month
df['Day of Month'] = df['Reported Date'].dt.day

# Monday = 0, Sunday = 6
df['Day of Week'] = df['Reported Date'].dt.weekday
df['Reported Hour'] = df['Reported Time'].dt.hour

In [39]:
# checking work
df.sort_values(by='Reported Year').head(2)

,Target,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,...,Frisk Flag,Precinct,Sector,Beat,Weapon Flag,Reported Year,Reported Month,Day of Month,Day of Week,Reported Hour
0,1,NA,-1,20140000120677,92317,Arrest,None,7500,1984,M,...,N,South,O,O2,0,2015,10,16,4,11
39233,0,46 - 55,-1,20150000218351,58128,Referred for Prosecution,None,7459,1973,M,...,Y,North,B,B1,0,2015,6,28,6,5

In [40]:
# dropping date and time columns
df.drop(['Reported Date', 'Reported Time'], axis=1, inplace=True)

### Checking Call Type Feature Value Counts

### Initial Call Feature

In [41]:
df['Initial Call Type'].value_counts()

NA                                                    13162
SUSPICIOUS STOP - OFFICER INITIATED ONVIEW             3165
SUSPICIOUS PERSON, VEHICLE OR INCIDENT                 2994
DISTURBANCE, MISCELLANEOUS/OTHER                       2429
ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)         2007
TRESPASS                                               1903
THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS)              1398
SHOPLIFT - THEFT                                       1366
FIGHT - IP - PHYSICAL (NO WEAPONS)                     1282
WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)         1150
ROBBERY - IP/JO (INCLUDES STRONG ARM)                   903
BURG - IP/JO - RES (INCL UNOCC STRUCTURES)              803
THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING)           739
DIST - IP/JO - DV DIST - NO ASLT                        705
PROPERTY - DAMAGE                                       699
NARCOTICS - VIOLATIONS (LOITER, USE, SELL, NARS)        698
AUTO RECOVERY                                           666
ASLT - IP/JO - DV                                       662
TRAFFIC STOP - OFFICER INITIATED ONVIEW                 659
BURG - IP/JO - COMM BURG (INCLUDES SCHOOLS)             526
ASLT - WITH OR W/O WEAPONS (NO SHOOTINGS)               522
WARRANT - FELONY PICKUP                                 439
ASLT - IP/JO - PERSON SHOT OR SHOT AT                   387
DIST - DV - NO ASLT                                     372
NUISANCE - MISCHIEF                                     338
UNKNOWN - COMPLAINT OF UNKNOWN NATURE                   293
FIGHT - VERBAL/ORAL (NO WEAPONS)                        283
DOWN - CHECK FOR PERSON DOWN                            282
SHOTS - IP/JO - INCLUDES HEARD/NO ASSAULT               266
ALARM - COMM, SILENT/AUD BURG (INCL BANKS)              255
PROWLER - IP/JO                                         251
BURG - COMM BURGLARY (INCLUDES SCHOOLS)                 241
BURG - RES (INCL UNOCC STRUCTURES ON PROP)              221
ROBBERY (INCLUDES STRONG ARM)                           216
FIGHT - IP/JO - WITH WEAPONS                            205
WEAPN - GUN,DEADLY WPN (NO THRTS/ASLT/DIST)             191
PERSON IN BEHAVIORAL/EMOTIONAL CRISIS                   186
WARRANT - MISD WARRANT PICKUP                           173
PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY            171
LEWD -  (EXPOSING, FLASHING)                            166
DUI - DRIVING UNDER INFLUENCE                           156
SFD - ASSIST ON FIRE OR MEDIC RESPONSE                  151
FIGHT - JO - PHYSICAL (NO WEAPONS)                      150
HAZ - POTENTIAL THRT TO PHYS SAFETY (NO HAZMAT)         149
MVC - HIT AND RUN (NON INJURY), INCLUDES IP/JO          147
MVC - WITH INJURIES (INCLUDES HIT AND RUN)              125
ASLT - DV                                               123
SUICIDE - IP/JO SUICIDAL PERSON AND ATTEMPTS            113
FRAUD - FORGERY,BUNCO, SCAMS, ID THEFT, ETC             111
ARSON - IP/JO                                           110
ASSIST OTHER AGENCY - ROUTINE SERVICE                    99
UNKNOWN - ANI/ALI - WRLS PHNS (INCL OPEN LINE)           96
FOLLOW UP                                                94
SEX IN PUBLIC PLACE/VIEW (INCL MASTURBATION)             90
ORDER - IP - VIOLATION OF DV COURT ORDER                 87
BURN - RECKLESS BURNING                                  78
AUTO THEFT-IP/JO - VEHICLE, PLATES, TABS                 77
SERVICE - WELFARE CHECK                                  75
THEFT OF SERVICES                                        75
UNDERCOVER OPS, CAUTION (INCLUDES STAKEOUTS)             72
LIQUOR VIOLATIONS - ADULT                                64
AUTO THEFT - VEH THEFT OR THEFT & RECOVERY               60
DOWN - CHECK FOR DOWN PERSON                             59
HARAS - NO BIAS, THREATS OR MALICIOUSNESS                57
ORDER - VIOLATING DV COURT ORDER                         56
MVC - REPORT, NON INJ/NON BLKG OR AFTER FACT INJ         51
UNKNOWN - ANI/ALI - LANDLINE (INCLUDES OPEN LINE)        47
THREATS - DV - NO ASSAULT                                47
OVERDOSE - DRUG RELATED CASUALTY                         45
ASLT - MOLESTED ADULT (GROPED, FONDLED, ETC.)            43
WARRANT - SEARCH. EXECUTED, SECURED                      40
ASSIST PUBLIC - NO WELFARE CHK OR DV ORDER SERVICE       40
PROWLER                                                  39
MVC - NON INJURY, BLOCKING                               38
MVC - UNK INJURIES                                       37
RAPE - IP/JO                                             36
VICE - PROSTITUTION                                      36
WARRANT - SEARCH. CAUTION (EXCL NARCOTICS)               34
CHILD - IP/JO - ABAND, ABUSE, MOLEST, NEGLECT            30
ASSIST OTHER AGENCY - EMERGENCY SERVICE                  30
TRAFFIC - ROAD RAGE                                      29
CARJACKING - IP/JO - ROBBERY                             27
ORDER - VIOLATION OF COURT ORDER (NON DV)                26
PURSE SNATCH - IP/JO - ROBBERY                           25
RAPE                                                     25
PANHANDLING, AGGRESSIVE                                  24
ALARM - RESIDENTIAL - BURGLARY, SILENT/AUDIBLE           24
ARSON - REPORT                                           23
FOOT - ELUDING POLICE                                    23
TRAFFIC - BLOCKING ROADWAY                               22
TRAFFIC - MOVING VIOLATION                               22
OPEN - BUILDING, DOOR, ETC.                              21
LIQUOR VIOLATIONS - MINOR                                19
BIAS -RACIAL, POLITICAL, SEXUAL MOTIVATION               19
PEACE-STANDBY TO ASSURE (NO COURT ORDR SVC)              18
CHILD - ABAND, ABUSED, MOLESTED, NEGLECTED               18
NARCOTICS WARRANT SERVICE - EXECUTED, SECURED            18
NOISE - DISTURBANCE (PARTY, ETC)                         18
ALARM - BANK (HOLD-UP)                                   17
SHOTS -DELAY/INCLUDES HEARD/NO ASSAULT                   16
ILLEGAL DUMPING                                          16
ANIMAL - INJURED, DEAD HAZARD, OTHER                     16
PEDESTRIAN VIOLATIONS                                    15
NOISE - DIST, GENERAL (CONST, RESID, BALL PLAY)          15
BOMB THREATS - IP/JO                                     14
PARKING VIOLATION (EXCEPT ABANDONED CAR)                 12
PROPERTY - FOUND                                         11
TRAF - ELUDING POLICE                                    11
FOUND - PERSON                                           11
HELP THE OFFICER                                         11
AUTO - THEFT/LOSS, PLATES AND/OR TAB                     10
FIGHT - WITH WEAPONS                                     10
PURSE SNATCH - ROBBERY                                    9
FIREWORKS - NUISANCE (NO HAZARD)                          9
NARCOTICS WARRANT SERVICE                                 9
JUVENILE - RUNAWAY                                        9
JUVENILE - RUNAWAY PICKUP                                 8
ASLT - PERSON SHOT OR SHOT AT                             8
SUICIDE, SUICIDAL PERSON AND ATTEMPTS                     8
DIRECTED PATROL ACTIVITY                                  7
NARCOTICS - FOUND                                         7
ASSIST SPD - ROUTINE SERVICE                              6
DOA - CASUALTY, DEAD BODY                                 6
-ASSIGNED DUTY - FOOT BEAT (FROM ASSIGNED CAR)            6
CHILD - IP/JO - LURING                                    6
HAZ - IMMINENT THRT TO PHYS SAFETY (NO HAZ MAT)           5
PARKS VIOLATIONS/CITES (INCLUDES EXCLUSIONS)              5
ALARM - COMM, HOLD-UP/PANIC (EXCEPT BANKS)                4
MISSING - CHILD                                           4
SUSPICIOUS PACKAGE                                        4
CHILD -  LURING                                           4
TRU - THEFT                                               4
INJURED - IP/JO - PERSON/INDUSTRIAL ACCIDENT              3
SICK PERSON                                               3
CARJACKING - ROBBERY                                      3
OFF DUTY EMPLOYMENT                                       3
TRAFFIC - ASSIST MOTORIST                                 3
EXPLOSION - IP/JO                                         3
ALARM - AUDIBLE AUTOMOBILE (UNOCC/ANTI-THEFT)             3
AWOL - ADULT OR JUVENILE                                  2
ANIMAL - IP/JO - BITE                                     2
PROPERTY - DAMAGE (GUN RELATED)                           2
SLEEPER ABOARD BUS/COMMUTER TRAIN                         2
ORDER  - SERVICE OF DV COURT ORDER                        2
LITTERING                                                 2
URINATING, DEFECATING IN PUBLIC                           2
ASSIST SPD - URGENT SERVICE                               2
GAMBLING                                                  2
UNKNOWN - ANI/ALI - PAY PHNS (INCL OPEN LINE)             1
ESCAPE - PRISONER                                         1
ALARM - RESIDENTIAL - SILENT/AUD PANIC/DURESS             1
REQUEST TO WATCH                                          1
-ASSIGNED DUTY - STAKEOUT                                 1
MISSING - ADULT                                           1
PHONE - OBSCENE OR NUISANCE PHONE CALLS                   1
PROPERTY - FOUND GUN, SHELLCASINGS                        1
KNOWN KIDNAPPNG                                           1
ANIMAL, REPORT - BITE                                     1
TRACKING ALARM                                            1
VICE - PORNOGRAPHY                                        1
ALARM - ATM MACHINE, FREE STANDING                        1
HARBOR - WATER EMERGENCIES                                1
INJURED -  PERSON/INDUSTRIAL ACCIDENT                     1
MISSING - (ALZHEIMER, ENDANGERED, ELDERLY)                1
WARRANT PICKUP - FROM OTHER AGENCY                        1
DEMONSTRATIONS                                            1
ORDER - ASSIST DV VIC W/SRVC OF COURT ORDER               1
Name: Initial Call Type, dtype: int64

In [42]:
df['Initial Call Type'].value_counts(normalize=True)

NA                                                    0.278779
SUSPICIOUS STOP - OFFICER INITIATED ONVIEW            0.067037
SUSPICIOUS PERSON, VEHICLE OR INCIDENT                0.063415
DISTURBANCE, MISCELLANEOUS/OTHER                      0.051448
ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)        0.042509
TRESPASS                                              0.040307
THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS)             0.029610
SHOPLIFT - THEFT                                      0.028933
FIGHT - IP - PHYSICAL (NO WEAPONS)                    0.027154
WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)        0.024358
ROBBERY - IP/JO (INCLUDES STRONG ARM)                 0.019126
BURG - IP/JO - RES (INCL UNOCC STRUCTURES)            0.017008
THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING)         0.015652
DIST - IP/JO - DV DIST - NO ASLT                      0.014932
PROPERTY - DAMAGE                                     0.014805
NARCOTICS - VIOLATIONS (LOITER, USE, SELL, NARS)      0.014784
AUTO RECOVERY                                         0.014106
ASLT - IP/JO - DV                                     0.014022
TRAFFIC STOP - OFFICER INITIATED ONVIEW               0.013958
BURG - IP/JO - COMM BURG (INCLUDES SCHOOLS)           0.011141
ASLT - WITH OR W/O WEAPONS (NO SHOOTINGS)             0.011056
WARRANT - FELONY PICKUP                               0.009298
ASLT - IP/JO - PERSON SHOT OR SHOT AT                 0.008197
DIST - DV - NO ASLT                                   0.007879
NUISANCE - MISCHIEF                                   0.007159
UNKNOWN - COMPLAINT OF UNKNOWN NATURE                 0.006206
FIGHT - VERBAL/ORAL (NO WEAPONS)                      0.005994
DOWN - CHECK FOR PERSON DOWN                          0.005973
SHOTS - IP/JO - INCLUDES HEARD/NO ASSAULT             0.005634
ALARM - COMM, SILENT/AUD BURG (INCL BANKS)            0.005401
PROWLER - IP/JO                                       0.005316
BURG - COMM BURGLARY (INCLUDES SCHOOLS)               0.005105
BURG - RES (INCL UNOCC STRUCTURES ON PROP)            0.004681
ROBBERY (INCLUDES STRONG ARM)                         0.004575
FIGHT - IP/JO - WITH WEAPONS                          0.004342
WEAPN - GUN,DEADLY WPN (NO THRTS/ASLT/DIST)           0.004045
PERSON IN BEHAVIORAL/EMOTIONAL CRISIS                 0.003940
WARRANT - MISD WARRANT PICKUP                         0.003664
PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY          0.003622
LEWD -  (EXPOSING, FLASHING)                          0.003516
DUI - DRIVING UNDER INFLUENCE                         0.003304
SFD - ASSIST ON FIRE OR MEDIC RESPONSE                0.003198
FIGHT - JO - PHYSICAL (NO WEAPONS)                    0.003177
HAZ - POTENTIAL THRT TO PHYS SAFETY (NO HAZMAT)       0.003156
MVC - HIT AND RUN (NON INJURY), INCLUDES IP/JO        0.003114
MVC - WITH INJURIES (INCLUDES HIT AND RUN)            0.002648
ASLT - DV                                             0.002605
SUICIDE - IP/JO SUICIDAL PERSON AND ATTEMPTS          0.002393
FRAUD - FORGERY,BUNCO, SCAMS, ID THEFT, ETC           0.002351
ARSON - IP/JO                                         0.002330
ASSIST OTHER AGENCY - ROUTINE SERVICE                 0.002097
UNKNOWN - ANI/ALI - WRLS PHNS (INCL OPEN LINE)        0.002033
FOLLOW UP                                             0.001991
SEX IN PUBLIC PLACE/VIEW (INCL MASTURBATION)          0.001906
ORDER - IP - VIOLATION OF DV COURT ORDER              0.001843
BURN - RECKLESS BURNING                               0.001652
AUTO THEFT-IP/JO - VEHICLE, PLATES, TABS              0.001631
SERVICE - WELFARE CHECK                               0.001589
THEFT OF SERVICES                                     0.001589
UNDERCOVER OPS, CAUTION (INCLUDES STAKEOUTS)          0.001525
LIQUOR VIOLATIONS - ADULT                             0.001356
AUTO THEFT - VEH THEFT OR THEFT & RECOVERY            0.001271
DOWN - CHECK FOR DOWN PERSON                          0.001250
HARAS - NO BIAS, THREATS OR MALICIOUSNESS             0.001207
ORDER - VIOLATING DV COURT ORDER                      0.001186
MVC - REPORT, NON INJ/NON BLKG OR AFTER FACT INJ      0.001080
UNKNOWN - ANI/ALI - LANDLINE (INCLUDES OPEN LINE)     0.000995
THREATS - DV - NO ASSAULT                             0.000995
OVERDOSE - DRUG RELATED CASUALTY                      0.000953
ASLT - MOLESTED ADULT (GROPED, FONDLED, ETC.)         0.000911
WARRANT - SEARCH. EXECUTED, SECURED                   0.000847
ASSIST PUBLIC - NO WELFARE CHK OR DV ORDER SERVICE    0.000847
PROWLER                                               0.000826
MVC - NON INJURY, BLOCKING                            0.000805
MVC - UNK INJURIES                                    0.000784
RAPE - IP/JO                                          0.000763
VICE - PROSTITUTION                                   0.000763
WARRANT - SEARCH. CAUTION (EXCL NARCOTICS)            0.000720
CHILD - IP/JO - ABAND, ABUSE, MOLEST, NEGLECT         0.000635
ASSIST OTHER AGENCY - EMERGENCY SERVICE               0.000635
TRAFFIC - ROAD RAGE                                   0.000614
CARJACKING - IP/JO - ROBBERY                          0.000572
ORDER - VIOLATION OF COURT ORDER (NON DV)             0.000551
PURSE SNATCH - IP/JO - ROBBERY                        0.000530
RAPE                                                  0.000530
PANHANDLING, AGGRESSIVE                               0.000508
ALARM - RESIDENTIAL - BURGLARY, SILENT/AUDIBLE        0.000508
ARSON - REPORT                                        0.000487
FOOT - ELUDING POLICE                                 0.000487
TRAFFIC - BLOCKING ROADWAY                            0.000466
TRAFFIC - MOVING VIOLATION                            0.000466
OPEN - BUILDING, DOOR, ETC.                           0.000445
LIQUOR VIOLATIONS - MINOR                             0.000402
BIAS -RACIAL, POLITICAL, SEXUAL MOTIVATION            0.000402
PEACE-STANDBY TO ASSURE (NO COURT ORDR SVC)           0.000381
CHILD - ABAND, ABUSED, MOLESTED, NEGLECTED            0.000381
NARCOTICS WARRANT SERVICE - EXECUTED, SECURED         0.000381
NOISE - DISTURBANCE (PARTY, ETC)                      0.000381
ALARM - BANK (HOLD-UP)                                0.000360
SHOTS -DELAY/INCLUDES HEARD/NO ASSAULT                0.000339
ILLEGAL DUMPING                                       0.000339
ANIMAL - INJURED, DEAD HAZARD, OTHER                  0.000339
PEDESTRIAN VIOLATIONS                                 0.000318
NOISE - DIST, GENERAL (CONST, RESID, BALL PLAY)       0.000318
BOMB THREATS - IP/JO                                  0.000297
PARKING VIOLATION (EXCEPT ABANDONED CAR)              0.000254
PROPERTY - FOUND                                      0.000233
TRAF - ELUDING POLICE                                 0.000233
FOUND - PERSON                                        0.000233
HELP THE OFFICER                                      0.000233
AUTO - THEFT/LOSS, PLATES AND/OR TAB                  0.000212
FIGHT - WITH WEAPONS                                  0.000212
PURSE SNATCH - ROBBERY                                0.000191
FIREWORKS - NUISANCE (NO HAZARD)                      0.000191
NARCOTICS WARRANT SERVICE                             0.000191
JUVENILE - RUNAWAY                                    0.000191
JUVENILE - RUNAWAY PICKUP                             0.000169
ASLT - PERSON SHOT OR SHOT AT                         0.000169
SUICIDE, SUICIDAL PERSON AND ATTEMPTS                 0.000169
DIRECTED PATROL ACTIVITY                              0.000148
NARCOTICS - FOUND                                     0.000148
ASSIST SPD - ROUTINE SERVICE                          0.000127
DOA - CASUALTY, DEAD BODY                             0.000127
-ASSIGNED DUTY - FOOT BEAT (FROM ASSIGNED CAR)        0.000127
CHILD - IP/JO - LURING                                0.000127
HAZ - IMMINENT THRT TO PHYS SAFETY (NO HAZ MAT)       0.000106
PARKS VIOLATIONS/CITES (INCLUDES EXCLUSIONS)          0.000106
ALARM - COMM, HOLD-UP/PANIC (EXCEPT BANKS)            0.000085
MISSING - CHILD                                       0.000085
SUSPICIOUS PACKAGE                                    0.000085
CHILD -  LURING                                       0.000085
TRU - THEFT                                           0.000085
INJURED - IP/JO - PERSON/INDUSTRIAL ACCIDENT          0.000064
SICK PERSON                                           0.000064
CARJACKING - ROBBERY                                  0.000064
OFF DUTY EMPLOYMENT                                   0.000064
TRAFFIC - ASSIST MOTORIST                             0.000064
EXPLOSION - IP/JO                                     0.000064
ALARM - AUDIBLE AUTOMOBILE (UNOCC/ANTI-THEFT)         0.000064
AWOL - ADULT OR JUVENILE                              0.000042
ANIMAL - IP/JO - BITE                                 0.000042
PROPERTY - DAMAGE (GUN RELATED)                       0.000042
SLEEPER ABOARD BUS/COMMUTER TRAIN                     0.000042
ORDER  - SERVICE OF DV COURT ORDER                    0.000042
LITTERING                                             0.000042
URINATING, DEFECATING IN PUBLIC                       0.000042
ASSIST SPD - URGENT SERVICE                           0.000042
GAMBLING                                              0.000042
UNKNOWN - ANI/ALI - PAY PHNS (INCL OPEN LINE)         0.000021
ESCAPE - PRISONER                                     0.000021
ALARM - RESIDENTIAL - SILENT/AUD PANIC/DURESS         0.000021
REQUEST TO WATCH                                      0.000021
-ASSIGNED DUTY - STAKEOUT                             0.000021
MISSING - ADULT                                       0.000021
PHONE - OBSCENE OR NUISANCE PHONE CALLS               0.000021
PROPERTY - FOUND GUN, SHELLCASINGS                    0.000021
KNOWN KIDNAPPNG                                       0.000021
ANIMAL, REPORT - BITE                                 0.000021
TRACKING ALARM                                        0.000021
VICE - PORNOGRAPHY                                    0.000021
ALARM - ATM MACHINE, FREE STANDING                    0.000021
HARBOR - WATER EMERGENCIES                            0.000021
INJURED -  PERSON/INDUSTRIAL ACCIDENT                 0.000021
MISSING - (ALZHEIMER, ENDANGERED, ELDERLY)            0.000021
WARRANT PICKUP - FROM OTHER AGENCY                    0.000021
DEMONSTRATIONS                                        0.000021
ORDER - ASSIST DV VIC W/SRVC OF COURT ORDER           0.000021
Name: Initial Call Type, dtype: float64

## Analysis `NA` is Largest Category at 28%

### Final Call Feature

In [43]:
df['Final Call Type'].value_counts()[:25]

NA                                              13162
--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON         3772
--PROWLER - TRESPASS                             3330
--DISTURBANCE - OTHER                            2719
--ASSAULTS, OTHER                                2297
--WARRANT SERVICES - FELONY                      1674
--DV - ARGUMENTS, DISTURBANCE (NO ARREST)        1303
--THEFT - SHOPLIFT                               1235
--DV - DOMESTIC VIOL/ASLT (ARREST MANDATORY)     1190
--ASSAULTS - HARASSMENT, THREATS                 1049
--WARRANT SERVICES - MISDEMEANOR                 1043
--NARCOTICS - OTHER                               897
--SUSPICIOUS CIRCUM. - SUSPICIOUS VEHICLE         896
--CRISIS COMPLAINT - GENERAL                      892
--THEFT - ALL OTHER                               801
--PROPERTY DEST (DAMG)                            737
--ROBBERY - STRONG ARM                            629
--TRAFFIC - D.U.I.                                574
--BURGLARY - NON RESIDENTIAL/COMMERCIAL           560
--AUTOMOBILES - RECOVERY (THEFT)                  539
--DISTURBANCE - FIGHT                             503
--THEFT - CAR PROWL                               501
--WEAPON, PERSON WITH - GUN                       488
--ROBBERY - ARMED                                 481
--WEAPON,PERSON WITH - OTHER WEAPON               401
Name: Final Call Type, dtype: int64

In [44]:
df['Final Call Type'].value_counts(normalize=True)[:25]

NA                                              0.278779
--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON        0.079893
--PROWLER - TRESPASS                            0.070531
--DISTURBANCE - OTHER                           0.057590
--ASSAULTS, OTHER                               0.048652
--WARRANT SERVICES - FELONY                     0.035456
--DV - ARGUMENTS, DISTURBANCE (NO ARREST)       0.027598
--THEFT - SHOPLIFT                              0.026158
--DV - DOMESTIC VIOL/ASLT (ARREST MANDATORY)    0.025205
--ASSAULTS - HARASSMENT, THREATS                0.022218
--WARRANT SERVICES - MISDEMEANOR                0.022091
--NARCOTICS - OTHER                             0.018999
--SUSPICIOUS CIRCUM. - SUSPICIOUS VEHICLE       0.018978
--CRISIS COMPLAINT - GENERAL                    0.018893
--THEFT - ALL OTHER                             0.016966
--PROPERTY DEST (DAMG)                          0.015610
--ROBBERY - STRONG ARM                          0.013323
--TRAFFIC - D.U.I.                              0.012158
--BURGLARY - NON RESIDENTIAL/COMMERCIAL         0.011861
--AUTOMOBILES - RECOVERY (THEFT)                0.011416
--DISTURBANCE - FIGHT                           0.010654
--THEFT - CAR PROWL                             0.010611
--WEAPON, PERSON WITH - GUN                     0.010336
--ROBBERY - ARMED                               0.010188
--WEAPON,PERSON WITH - OTHER WEAPON             0.008493
Name: Final Call Type, dtype: float64

## Analysis: `NA` is Largest Category at 28%

### Checking Call Origination Feature

In [45]:
print(df['Call Type'].value_counts())
df['Call Type'].value_counts(normalize=True)

911                              21284
NA                               13162
ONVIEW                            9110
TELEPHONE OTHER, NOT 911          3309
ALARM CALL (NOT POLICE ALARM)      340
TEXT MESSAGE                         7
SCHEDULED EVENT (RECURRING)          1
Name: Call Type, dtype: int64

911                              0.450808
NA                               0.278779
ONVIEW                           0.192955
TELEPHONE OTHER, NOT 911         0.070087
ALARM CALL (NOT POLICE ALARM)    0.007201
TEXT MESSAGE                     0.000148
SCHEDULED EVENT (RECURRING)      0.000021
Name: Call Type, dtype: float64

## Analysis: Call Type
- 45% of the stops began as 911 calls.
- 28% are of unknown origin.
- 19% were officer initiated based on officer observation. 

`Call Type` seems to be a potentially important feature moving forward.

### Officer Squad Feature

In [46]:
df['Officer Squad'].value_counts()

TRAINING - FIELD TRAINING SQUAD                        5098
WEST PCT 1ST W - DAVID/MARY                            1546
WEST PCT 2ND W - D/M RELIEF                            1020
SOUTHWEST PCT 2ND W - FRANK                             970
NORTH PCT 2ND WATCH - NORTH BEATS                       885
WEST PCT 1ST W - KING/QUEEN                             834
EAST PCT 3RD W - E/G RELIEF                             816
WEST PCT 3RD W - DAVID                                  816
WEST PCT 1ST W - KQ/DM RELIEF                           809
EAST PCT 1ST W - E/G RELIEF (CHARLIE)                   768
NORTH PCT 3RD W - B/N RELIEF                            758
EAST PCT 3RD W - EDWARD                                 748
WEST PCT 2ND W - KING                                   731
NORTH PCT 2ND W - NORA                                  718
WEST PCT 3RD W - KING                                   706
EAST PCT 2ND W - CHARLIE RELIEF                         675
WEST PCT 3RD W - MARY                                   673
SOUTH PCT 1ST W - R/S RELIEF                            666
WEST PCT 2ND W - MARY BEATS                             631
WEST PCT 3RD W - QUEEN                                  630
NORTH PCT 3RD W - NORA                                  611
WEST PCT 3RD W - D/M RELIEF                             610
NA                                                      604
WEST PCT 2ND W - K/Q RELIEF                             585
NORTH PCT 2ND W - JOHN RELIEF                           585
NORTH PCT 1ST W - LINCOLN                               577
NORTH PCT 3RD W - UNION                                 576
SOUTHWEST PCT 2ND W - WILLIAM                           566
WEST PCT 2ND W - DAVID                                  553
WEST PCT 3RD W - K/Q RELIEF                             548
NORTH PCT 3RD W - BOY                                   546
SOUTH PCT 1ST W - SAM                                   534
NORTH PCT 2ND W - JOHN                                  528
SOUTH PCT 2ND W - R/S RELIEF                            516
SOUTH PCT 3RD W - SAM                                   512
SOUTH PCT 2ND W - ROBERT                                489
NORTH PCT 3RD W - L/U RELIEF                            485
NORTH PCT 1ST W - BOY (JOHN)                            476
WEST PCT 3RD W - DAVID BEATS                            476
SOUTHWEST PCT 2ND WATCH - F/W RELIEF                    452
NORTH PCT 3RD W - JOHN RELIEF                           446
SOUTHWEST PCT - 1ST WATCH - F/W RELIEF                  443
NORTH PCT 2ND W - LINCOLN                               440
NORTH PCT 3RD W - LINCOLN                               438
SOUTH PCT 3RD W - ROBERT                                426
EAST PCT 2ND W - CHARLIE                                422
EAST PCT 1ST W - EDWARD (CHARLIE)                       421
SOUTH PCT 1ST W - ROBERT                                418
SOUTH PCT 2ND W - SAM                                   406
WEST PCT 2ND W - DAVID BEATS                            383
EAST PCT 2ND W - GEORGE                                 371
EAST PCT 2ND W - EDWARD                                 363
EAST PCT 3RD W - CHARLIE                                353
WEST PCT 2ND W - MARY                                   352
NORTH PCT OPS - ACT DAY                                 348
NORTH PCT 2ND WATCH - B/N RELIEF                        348
NORTH PCT 2ND W - L/U RELIEF                            348
NORTH PCT 1ST W - B/N RELIEF (JOHN)                     344
NORTH PCT 1ST W - UNION                                 343
EAST PCT 2ND W - E/G RELIEF                             329
SOUTH PCT 2ND W - OCEAN                                 323
EAST PCT 3RD WATCH - CHARLIE RELIEF                     322
SOUTH PCT 3RD W - OCEAN                                 314
SOUTH PCT 1ST W - OCEAN                                 311
WEST PCT 2ND W - QUEEN                                  309
EAST PCT 3RD W - GEORGE                                 308
SOUTHWEST PCT 3RD W - WILLIAM                           304
SOUTH PCT 2ND W - OCEAN RELIEF                          300
SOUTHWEST PCT - 3RD WATCH - F/W RELIEF                  290
SOUTH PCT OPS - DAY ACT                                 288
NORTH PCT 1ST W - L/U RELIEF                            272
NORTH PCT 3RD W - JOHN                                  270
EAST PCT 1ST W - GEORGE (CHARLIE)                       261
SOUTHWEST PCT 3RD W - FRANK                             253
NORTH PCT 2ND W - BOY                                   249
SOUTHWEST PCT 1ST W - FRANK                             223
NORTH PCT 1ST W - NORA (JOHN)                           216
WEST PCT OPS - ACT NIGHT                                216
SOUTHWEST PCT 1ST W - WILLIAM                           211
WEST PCT 2ND W - KING BEATS                             200
SOUTH PCT 3RD W - R/S RELIEF                            199
NORTH PCT OPS - CPT                                     195
SOUTHWEST PCT 2ND W - SOUTHWEST BEATS                   170
EAST PCT 3RD W - EAST BEATS                             163
NORTH PCT 2ND W - UNION                                 163
SOUTH PCT 3RD W - OCEAN RELIEF                          161
WEST PCT 2ND W - SPECIAL BEATS                          119
SOUTH PCT OPS - NIGHT ACT                               119
EAST PCT 2ND W - BEATS                                  108
SOUTHWEST PCT OPS - NIGHT ACT                            88
TRAF - DUI SQUAD                                         76
EAST PCT OPS - NIGHT ACT                                 76
WEST PCT OPS - CPT                                       75
CRG - SQUAD 81B                                          73
SOUTH PCT 2ND W - SAM BEATS                              68
SOUTHWEST PCT OPS - CPT                                  68
CRISIS RESPONSE SQUAD                                    52
CRG - SQUAD 81C                                          43
GANG SQUAD C                                             42
CRG - SQUAD 81D                                          38
CRG - SQUAD 82D                                          33
CRG - SQUAD 81A                                          33
CRG - SQUAD 82A                                          31
CCI - MAJOR CRIMES TASK FORCE                            29
CRG - SQUAD 82E                                          28
CRG - SQUAD 82C                                          26
SOUTH PCT OPS - CPT                                      24
GANG SQUAD B                                             21
CANINE - SQUAD C                                         21
CRG - SQUAD 81E                                          21
GANG SQUAD A                                             21
CRISIS INTERVENTION COORDINATION SQUAD                   21
MAJOR CRIMES TASK FORCE                                  18
SAU SQUAD A                                              16
CANINE - SQUAD A                                         16
HARBOR - SQUAD A                                         13
SWAT - NIGHT SQUAD 2                                     12
HR - DEPARTMENT UNAVAILABLE PERSONNEL                    11
CRG - SQUAD 82B                                          11
SOUTH PCT OPS - BURG/THEFT                               11
EAST PCT OPS - CPT                                       10
WEST PCT OPS - SEA CTR                                   10
WEST PCT OPS - BURG/THEFT                                 9
WEST PCT OPS - MOUNTED PATROL                             9
SWAT - NIGHT SQUAD 1                                      8
ROBBERY SQUAD A                                           8
AUTO THEFT                                                8
CANINE - NIGHT SQUAD                                      7
TRAF - PM ENFORCEMENT                                     6
HR - HUMAN RESOURCES  - DEPT UNAVAIL PERSONNEL            6
JOINT ENFORCEMENT TEAM                                    6
BURG/THEFT/JUV - SOUTH                                    6
TRAF - AM ENFORCEMENT                                     6
COMMUNITY OUTREACH UNIT                                   5
SWAT - DAY SQUAD 2                                        5
NARC - PROACTIVE SQUAD C                                  5
BURG/THEFT/JUV - EAST                                     5
NAVIGATION TEAM - SQUAD A                                 5
TRAF - MOTORCYCLE UNIT - T4 SQUAD                         4
TRAF - COLLISION INVESTIGATION                            4
JOINT ENFORCEMENT TEAM (JET)                              4
SWAT - DAY SQUAD 1                                        4
DV SQUAD A - INVESTIGATIONS                               4
DV SQUAD C - ELDER ABUSE                                  4
OPS BUREAU - SPECIAL ASSIGNMENTS                          3
HARBOR - SQUAD D                                          3
PAWN DETAIL                                               3
NORTH PCT 2ND W - PCT SUPPORT                             2
PUBLIC AFFAIRS SQUAD                                      2
SAU SQUAD B                                               2
SOUTHWEST PCT OPS - DAY ACT                               2
EAST PCT OPS - BURG/THEFT                                 2
COMMUNITY OUTREACH - YOUTH VIOLENCE-SCHOOLS DETAIL        2
NAVIGATION TEAM - SQUAD B                                 2
NORTH PCT OPS - BURG/THEFT                                2
BURG/THEFT/JUV - WEST                                     1
HR - BLEA - ACADEMY RECRUITS                              1
WEST PCT OPS - COMMERCIAL SEC                             1
TRAF - MOTORCYCLE UNIT - T2 SQUAD                         1
BURG/THEFT/JUV - NORTH                                    1
ZOLD CRIME ANALYSIS UNIT - ANALYSTS                       1
RECORDS - DAY SHIFT                                       1
DV SQUAD D - ORDER SERVICE                                1
TRAF - MOTORCYCLE UNIT - T3 SQUAD                         1
TRAINING - ADVANCED - SQUAD C                             1
CANINE - DAY SQUAD                                        1
COMMUNITY OUTREACH - YOUTH VIOLENCE -SCHOOLS DETAIL       1
COMM - INTERNET AND TELEPHONE REPORTING (ITRU)            1
VICE - GENERAL INVESTIGATIONS SQUAD                       1
ROBBERY SQUAD B                                           1
COMMUNITY OUTREACH - SPECIAL PROJECTS DETAIL              1
TRAINING - LEARNING MANAGEMENT SYSTEM                     1
SOUTHWEST PCT OPS - BURG/THEFT                            1
Name: Officer Squad, dtype: int64

In [47]:
df['Officer Squad'].value_counts(normalize=True)

TRAINING - FIELD TRAINING SQUAD                        0.107979
WEST PCT 1ST W - DAVID/MARY                            0.032745
WEST PCT 2ND W - D/M RELIEF                            0.021604
SOUTHWEST PCT 2ND W - FRANK                            0.020545
NORTH PCT 2ND WATCH - NORTH BEATS                      0.018745
WEST PCT 1ST W - KING/QUEEN                            0.017665
EAST PCT 3RD W - E/G RELIEF                            0.017283
WEST PCT 3RD W - DAVID                                 0.017283
WEST PCT 1ST W - KQ/DM RELIEF                          0.017135
EAST PCT 1ST W - E/G RELIEF (CHARLIE)                  0.016267
NORTH PCT 3RD W - B/N RELIEF                           0.016055
EAST PCT 3RD W - EDWARD                                0.015843
WEST PCT 2ND W - KING                                  0.015483
NORTH PCT 2ND W - NORA                                 0.015208
WEST PCT 3RD W - KING                                  0.014954
EAST PCT 2ND W - CHARLIE RELIEF                        0.014297
WEST PCT 3RD W - MARY                                  0.014255
SOUTH PCT 1ST W - R/S RELIEF                           0.014106
WEST PCT 2ND W - MARY BEATS                            0.013365
WEST PCT 3RD W - QUEEN                                 0.013344
NORTH PCT 3RD W - NORA                                 0.012941
WEST PCT 3RD W - D/M RELIEF                            0.012920
NA                                                     0.012793
WEST PCT 2ND W - K/Q RELIEF                            0.012391
NORTH PCT 2ND W - JOHN RELIEF                          0.012391
NORTH PCT 1ST W - LINCOLN                              0.012221
NORTH PCT 3RD W - UNION                                0.012200
SOUTHWEST PCT 2ND W - WILLIAM                          0.011988
WEST PCT 2ND W - DAVID                                 0.011713
WEST PCT 3RD W - K/Q RELIEF                            0.011607
NORTH PCT 3RD W - BOY                                  0.011565
SOUTH PCT 1ST W - SAM                                  0.011310
NORTH PCT 2ND W - JOHN                                 0.011183
SOUTH PCT 2ND W - R/S RELIEF                           0.010929
SOUTH PCT 3RD W - SAM                                  0.010844
SOUTH PCT 2ND W - ROBERT                               0.010357
NORTH PCT 3RD W - L/U RELIEF                           0.010273
NORTH PCT 1ST W - BOY (JOHN)                           0.010082
WEST PCT 3RD W - DAVID BEATS                           0.010082
SOUTHWEST PCT 2ND WATCH - F/W RELIEF                   0.009574
NORTH PCT 3RD W - JOHN RELIEF                          0.009447
SOUTHWEST PCT - 1ST WATCH - F/W RELIEF                 0.009383
NORTH PCT 2ND W - LINCOLN                              0.009319
NORTH PCT 3RD W - LINCOLN                              0.009277
SOUTH PCT 3RD W - ROBERT                               0.009023
EAST PCT 2ND W - CHARLIE                               0.008938
EAST PCT 1ST W - EDWARD (CHARLIE)                      0.008917
SOUTH PCT 1ST W - ROBERT                               0.008853
SOUTH PCT 2ND W - SAM                                  0.008599
WEST PCT 2ND W - DAVID BEATS                           0.008112
EAST PCT 2ND W - GEORGE                                0.007858
EAST PCT 2ND W - EDWARD                                0.007689
EAST PCT 3RD W - CHARLIE                               0.007477
WEST PCT 2ND W - MARY                                  0.007456
NORTH PCT OPS - ACT DAY                                0.007371
NORTH PCT 2ND WATCH - B/N RELIEF                       0.007371
NORTH PCT 2ND W - L/U RELIEF                           0.007371
NORTH PCT 1ST W - B/N RELIEF (JOHN)                    0.007286
NORTH PCT 1ST W - UNION                                0.007265
EAST PCT 2ND W - E/G RELIEF                            0.006968
SOUTH PCT 2ND W - OCEAN                                0.006841
EAST PCT 3RD WATCH - CHARLIE RELIEF                    0.006820
SOUTH PCT 3RD W - OCEAN                                0.006651
SOUTH PCT 1ST W - OCEAN                                0.006587
WEST PCT 2ND W - QUEEN                                 0.006545
EAST PCT 3RD W - GEORGE                                0.006524
SOUTHWEST PCT 3RD W - WILLIAM                          0.006439
SOUTH PCT 2ND W - OCEAN RELIEF                         0.006354
SOUTHWEST PCT - 3RD WATCH - F/W RELIEF                 0.006142
SOUTH PCT OPS - DAY ACT                                0.006100
NORTH PCT 1ST W - L/U RELIEF                           0.005761
NORTH PCT 3RD W - JOHN                                 0.005719
EAST PCT 1ST W - GEORGE (CHARLIE)                      0.005528
SOUTHWEST PCT 3RD W - FRANK                            0.005359
NORTH PCT 2ND W - BOY                                  0.005274
SOUTHWEST PCT 1ST W - FRANK                            0.004723
NORTH PCT 1ST W - NORA (JOHN)                          0.004575
WEST PCT OPS - ACT NIGHT                               0.004575
SOUTHWEST PCT 1ST W - WILLIAM                          0.004469
WEST PCT 2ND W - KING BEATS                            0.004236
SOUTH PCT 3RD W - R/S RELIEF                           0.004215
NORTH PCT OPS - CPT                                    0.004130
SOUTHWEST PCT 2ND W - SOUTHWEST BEATS                  0.003601
EAST PCT 3RD W - EAST BEATS                            0.003452
NORTH PCT 2ND W - UNION                                0.003452
SOUTH PCT 3RD W - OCEAN RELIEF                         0.003410
WEST PCT 2ND W - SPECIAL BEATS                         0.002520
SOUTH PCT OPS - NIGHT ACT                              0.002520
EAST PCT 2ND W - BEATS                                 0.002288
SOUTHWEST PCT OPS - NIGHT ACT                          0.001864
TRAF - DUI SQUAD                                       0.001610
EAST PCT OPS - NIGHT ACT                               0.001610
WEST PCT OPS - CPT                                     0.001589
CRG - SQUAD 81B                                        0.001546
SOUTH PCT 2ND W - SAM BEATS                            0.001440
SOUTHWEST PCT OPS - CPT                                0.001440
CRISIS RESPONSE SQUAD                                  0.001101
CRG - SQUAD 81C                                        0.000911
GANG SQUAD C                                           0.000890
CRG - SQUAD 81D                                        0.000805
CRG - SQUAD 82D                                        0.000699
CRG - SQUAD 81A                                        0.000699
CRG - SQUAD 82A                                        0.000657
CCI - MAJOR CRIMES TASK FORCE                          0.000614
CRG - SQUAD 82E                                        0.000593
CRG - SQUAD 82C                                        0.000551
SOUTH PCT OPS - CPT                                    0.000508
GANG SQUAD B                                           0.000445
CANINE - SQUAD C                                       0.000445
CRG - SQUAD 81E                                        0.000445
GANG SQUAD A                                           0.000445
CRISIS INTERVENTION COORDINATION SQUAD                 0.000445
MAJOR CRIMES TASK FORCE                                0.000381
SAU SQUAD A                                            0.000339
CANINE - SQUAD A                                       0.000339
HARBOR - SQUAD A                                       0.000275
SWAT - NIGHT SQUAD 2                                   0.000254
HR - DEPARTMENT UNAVAILABLE PERSONNEL                  0.000233
CRG - SQUAD 82B                                        0.000233
SOUTH PCT OPS - BURG/THEFT                             0.000233
EAST PCT OPS - CPT                                     0.000212
WEST PCT OPS - SEA CTR                                 0.000212
WEST PCT OPS - BURG/THEFT                              0.000191
WEST PCT OPS - MOUNTED PATROL                          0.000191
SWAT - NIGHT SQUAD 1                                   0.000169
ROBBERY SQUAD A                                        0.000169
AUTO THEFT                                             0.000169
CANINE - NIGHT SQUAD                                   0.000148
TRAF - PM ENFORCEMENT                                  0.000127
HR - HUMAN RESOURCES  - DEPT UNAVAIL PERSONNEL         0.000127
JOINT ENFORCEMENT TEAM                                 0.000127
BURG/THEFT/JUV - SOUTH                                 0.000127
TRAF - AM ENFORCEMENT                                  0.000127
COMMUNITY OUTREACH UNIT                                0.000106
SWAT - DAY SQUAD 2                                     0.000106
NARC - PROACTIVE SQUAD C                               0.000106
BURG/THEFT/JUV - EAST                                  0.000106
NAVIGATION TEAM - SQUAD A                              0.000106
TRAF - MOTORCYCLE UNIT - T4 SQUAD                      0.000085
TRAF - COLLISION INVESTIGATION                         0.000085
JOINT ENFORCEMENT TEAM (JET)                           0.000085
SWAT - DAY SQUAD 1                                     0.000085
DV SQUAD A - INVESTIGATIONS                            0.000085
DV SQUAD C - ELDER ABUSE                               0.000085
OPS BUREAU - SPECIAL ASSIGNMENTS                       0.000064
HARBOR - SQUAD D                                       0.000064
PAWN DETAIL                                            0.000064
NORTH PCT 2ND W - PCT SUPPORT                          0.000042
PUBLIC AFFAIRS SQUAD                                   0.000042
SAU SQUAD B                                            0.000042
SOUTHWEST PCT OPS - DAY ACT                            0.000042
EAST PCT OPS - BURG/THEFT                              0.000042
COMMUNITY OUTREACH - YOUTH VIOLENCE-SCHOOLS DETAIL     0.000042
NAVIGATION TEAM - SQUAD B                              0.000042
NORTH PCT OPS - BURG/THEFT                             0.000042
BURG/THEFT/JUV - WEST                                  0.000021
HR - BLEA - ACADEMY RECRUITS                           0.000021
WEST PCT OPS - COMMERCIAL SEC                          0.000021
TRAF - MOTORCYCLE UNIT - T2 SQUAD                      0.000021
BURG/THEFT/JUV - NORTH                                 0.000021
ZOLD CRIME ANALYSIS UNIT - ANALYSTS                    0.000021
RECORDS - DAY SHIFT                                    0.000021
DV SQUAD D - ORDER SERVICE                             0.000021
TRAF - MOTORCYCLE UNIT - T3 SQUAD                      0.000021
TRAINING - ADVANCED - SQUAD C                          0.000021
CANINE - DAY SQUAD                                     0.000021
COMMUNITY OUTREACH - YOUTH VIOLENCE -SCHOOLS DETAIL    0.000021
COMM - INTERNET AND TELEPHONE REPORTING (ITRU)         0.000021
VICE - GENERAL INVESTIGATIONS SQUAD                    0.000021
ROBBERY SQUAD B                                        0.000021
COMMUNITY OUTREACH - SPECIAL PROJECTS DETAIL           0.000021
TRAINING - LEARNING MANAGEMENT SYSTEM                  0.000021
SOUTHWEST PCT OPS - BURG/THEFT                         0.000021
Name: Officer Squad, dtype: float64

### Focusing on the Training Squad
It seems that a fair number of stops come from the `TRAINING - FIELD TRAINING SQUAD`. Checking if there are more training squads.

In [48]:
squad = df['Officer Squad'].unique()
training = [x for x in squad if 'TRAINING' in x]

### Other Training Squads
Checking the number of stops from all of the training squads.

In [49]:
df['Officer Squad'].value_counts()[training]

TRAINING - FIELD TRAINING SQUAD          5098
TRAINING - LEARNING MANAGEMENT SYSTEM       1
TRAINING - ADVANCED - SQUAD C               1
Name: Officer Squad, dtype: int64

In [50]:
df['Officer Squad'].value_counts(normalize=True)[:100]

TRAINING - FIELD TRAINING SQUAD           0.107979
WEST PCT 1ST W - DAVID/MARY               0.032745
WEST PCT 2ND W - D/M RELIEF               0.021604
SOUTHWEST PCT 2ND W - FRANK               0.020545
NORTH PCT 2ND WATCH - NORTH BEATS         0.018745
WEST PCT 1ST W - KING/QUEEN               0.017665
EAST PCT 3RD W - E/G RELIEF               0.017283
WEST PCT 3RD W - DAVID                    0.017283
WEST PCT 1ST W - KQ/DM RELIEF             0.017135
EAST PCT 1ST W - E/G RELIEF (CHARLIE)     0.016267
NORTH PCT 3RD W - B/N RELIEF              0.016055
EAST PCT 3RD W - EDWARD                   0.015843
WEST PCT 2ND W - KING                     0.015483
NORTH PCT 2ND W - NORA                    0.015208
WEST PCT 3RD W - KING                     0.014954
EAST PCT 2ND W - CHARLIE RELIEF           0.014297
WEST PCT 3RD W - MARY                     0.014255
SOUTH PCT 1ST W - R/S RELIEF              0.014106
WEST PCT 2ND W - MARY BEATS               0.013365
WEST PCT 3RD W - QUEEN                    0.013344
NORTH PCT 3RD W - NORA                    0.012941
WEST PCT 3RD W - D/M RELIEF               0.012920
NA                                        0.012793
WEST PCT 2ND W - K/Q RELIEF               0.012391
NORTH PCT 2ND W - JOHN RELIEF             0.012391
NORTH PCT 1ST W - LINCOLN                 0.012221
NORTH PCT 3RD W - UNION                   0.012200
SOUTHWEST PCT 2ND W - WILLIAM             0.011988
WEST PCT 2ND W - DAVID                    0.011713
WEST PCT 3RD W - K/Q RELIEF               0.011607
NORTH PCT 3RD W - BOY                     0.011565
SOUTH PCT 1ST W - SAM                     0.011310
NORTH PCT 2ND W - JOHN                    0.011183
SOUTH PCT 2ND W - R/S RELIEF              0.010929
SOUTH PCT 3RD W - SAM                     0.010844
SOUTH PCT 2ND W - ROBERT                  0.010357
NORTH PCT 3RD W - L/U RELIEF              0.010273
NORTH PCT 1ST W - BOY (JOHN)              0.010082
WEST PCT 3RD W - DAVID BEATS              0.010082
SOUTHWEST PCT 2ND WATCH - F/W RELIEF      0.009574
NORTH PCT 3RD W - JOHN RELIEF             0.009447
SOUTHWEST PCT - 1ST WATCH - F/W RELIEF    0.009383
NORTH PCT 2ND W - LINCOLN                 0.009319
NORTH PCT 3RD W - LINCOLN                 0.009277
SOUTH PCT 3RD W - ROBERT                  0.009023
EAST PCT 2ND W - CHARLIE                  0.008938
EAST PCT 1ST W - EDWARD (CHARLIE)         0.008917
SOUTH PCT 1ST W - ROBERT                  0.008853
SOUTH PCT 2ND W - SAM                     0.008599
WEST PCT 2ND W - DAVID BEATS              0.008112
EAST PCT 2ND W - GEORGE                   0.007858
EAST PCT 2ND W - EDWARD                   0.007689
EAST PCT 3RD W - CHARLIE                  0.007477
WEST PCT 2ND W - MARY                     0.007456
NORTH PCT OPS - ACT DAY                   0.007371
NORTH PCT 2ND WATCH - B/N RELIEF          0.007371
NORTH PCT 2ND W - L/U RELIEF              0.007371
NORTH PCT 1ST W - B/N RELIEF (JOHN)       0.007286
NORTH PCT 1ST W - UNION                   0.007265
EAST PCT 2ND W - E/G RELIEF               0.006968
SOUTH PCT 2ND W - OCEAN                   0.006841
EAST PCT 3RD WATCH - CHARLIE RELIEF       0.006820
SOUTH PCT 3RD W - OCEAN                   0.006651
SOUTH PCT 1ST W - OCEAN                   0.006587
WEST PCT 2ND W - QUEEN                    0.006545
EAST PCT 3RD W - GEORGE                   0.006524
SOUTHWEST PCT 3RD W - WILLIAM             0.006439
SOUTH PCT 2ND W - OCEAN RELIEF            0.006354
SOUTHWEST PCT - 3RD WATCH - F/W RELIEF    0.006142
SOUTH PCT OPS - DAY ACT                   0.006100
NORTH PCT 1ST W - L/U RELIEF              0.005761
NORTH PCT 3RD W - JOHN                    0.005719
EAST PCT 1ST W - GEORGE (CHARLIE)         0.005528
SOUTHWEST PCT 3RD W - FRANK               0.005359
NORTH PCT 2ND W - BOY                     0.005274
SOUTHWEST PCT 1ST W - FRANK               0.004723
NORTH PCT 1ST W - NORA (JOHN)             0.004575
WEST PCT OPS - ACT NIGHT                  0.004575
SOUTHWEST PCT 1ST W - WILLIAM             0.004469
WEST PCT 2ND W - KING BEATS               0.004236
SOUTH PCT 3RD W - R/S RELIEF              0.004215
NORTH PCT OPS - CPT                       0.004130
SOUTHWEST PCT 2ND W - SOUTHWEST BEATS     0.003601
EAST PCT 3RD W - EAST BEATS               0.003452
NORTH PCT 2ND W - UNION                   0.003452
SOUTH PCT 3RD W - OCEAN RELIEF            0.003410
WEST PCT 2ND W - SPECIAL BEATS            0.002520
SOUTH PCT OPS - NIGHT ACT                 0.002520
EAST PCT 2ND W - BEATS                    0.002288
SOUTHWEST PCT OPS - NIGHT ACT             0.001864
TRAF - DUI SQUAD                          0.001610
EAST PCT OPS - NIGHT ACT                  0.001610
WEST PCT OPS - CPT                        0.001589
CRG - SQUAD 81B                           0.001546
SOUTH PCT 2ND W - SAM BEATS               0.001440
SOUTHWEST PCT OPS - CPT                   0.001440
CRISIS RESPONSE SQUAD                     0.001101
CRG - SQUAD 81C                           0.000911
GANG SQUAD C                              0.000890
CRG - SQUAD 81D                           0.000805
Name: Officer Squad, dtype: float64

## Analysis: Training Accounts for 11% of Stops
This is three times more than the next category.

### Binarizing the Arrest Flag

In [51]:
df['Arrest Flag'].value_counts()

N    43754
Y     3459
Name: Arrest Flag, dtype: int64

In [52]:
#  binarizing arrest flag
df['Arrest Flag'] = df['Arrest Flag'].replace('Y', 1)
df['Arrest Flag'] = df['Arrest Flag'].map(lambda x: 0 if x!=1 else 1)

In [53]:
df['Arrest Flag'].value_counts()

0    43754
1     3459
Name: Arrest Flag, dtype: int64

In [54]:
df['Target'].value_counts()

0    35546
1    11667
Name: Target, dtype: int64

In [55]:
df['Arrest Flag'].value_counts(normalize=True)

0    0.926736
1    0.073264
Name: Arrest Flag, dtype: float64

In [56]:
df['Target'].value_counts(normalize=True)

0    0.752886
1    0.247114
Name: Target, dtype: float64

## Analysis: Discrepancy Between Arrest Flag and Target
Oddly, the arrest flag counts are much lower than arrest (target) counts.

## Dropping Arrest Flag

In [57]:
df.drop('Arrest Flag', axis=1, inplace=True)

### Binarizing the Frisk Flag

In [58]:
df['Frisk Flag'].value_counts()

N     36147
Y     10588
NA      478
Name: Frisk Flag, dtype: int64

In [59]:
#  binarizing frisk flag
df['Frisk Flag'] = df['Frisk Flag'].replace('Y', 1)
df['Frisk Flag'] = df['Frisk Flag'].map(lambda x: 0 if x!=1 else 1)

In [60]:
df['Frisk Flag'].value_counts()

0    36625
1    10588
Name: Frisk Flag, dtype: int64

In [61]:
df['Frisk Flag'].value_counts(normalize=True)

0    0.77574
1    0.22426
Name: Frisk Flag, dtype: float64

### Checking the Precinct Feature

In [62]:
df['Precinct'].unique()

array(['South', 'NA', 'East', 'North', 'West', 'Southwest', 'Unknown',
       'SouthWest', 'OOJ', 'FK ERROR'], dtype=object)

In [63]:
df['Precinct'].value_counts()

West         11432
North        10385
NA            9859
East          6213
South         5653
Southwest     2320
SouthWest     1098
Unknown        200
OOJ             33
FK ERROR        20
Name: Precinct, dtype: int64

In [64]:
# fixing Southwest precinct
df['Precinct'] = df['Precinct'].replace('SouthWest', 'Southwest')

In [65]:
drop_list = ['Unknown', 'OOJ', 'FK ERROR']
df = df[~df['Precinct'].isin(drop_list)]

In [66]:
df['Precinct'].value_counts()

West         11432
North        10385
NA            9859
East          6213
South         5653
Southwest     3418
Name: Precinct, dtype: int64

In [67]:
df['Precinct'].value_counts(normalize=True)

West         0.243441
North        0.221146
NA           0.209945
East         0.132304
South        0.120379
Southwest    0.072785
Name: Precinct, dtype: float64

## Analysis: `NA` is Third Largest Category at 20%

### Checking the Sector Feature

In [68]:
df['Sector'].value_counts()

NA        9865
E         2337
M         2270
N         2191
K         1762
K         1725
B         1658
L         1639
D         1512
R         1455
F         1378
S         1348
U         1302
M         1254
O         1161
D         1144
J         1119
G         1087
C         1037
Q          967
W          941
E          925
Q          794
N          694
F          669
R          616
O          598
B          518
S          476
U          453
G          442
W          428
L          416
J          395
C          384
Name: Sector, dtype: int64

In [69]:
df['Sector'].value_counts(normalize=True)

NA        0.210072
E         0.049766
M         0.048339
N         0.046657
K         0.037521
K         0.036733
B         0.035307
L         0.034902
D         0.032198
R         0.030984
F         0.029344
S         0.028705
U         0.027726
M         0.026704
O         0.024723
D         0.024361
J         0.023829
G         0.023147
C         0.022083
Q         0.020592
W         0.020038
E         0.019698
Q         0.016908
N         0.014779
F         0.014246
R         0.013118
O         0.012734
B         0.011031
S         0.010136
U         0.009647
G         0.009412
W         0.009114
L         0.008859
J         0.008411
C         0.008177
Name: Sector, dtype: float64

## Analysis: `NA` is Largest at 21%
Four times larger than the next largest category.

### Checking the Beat Feature

In [70]:
df['Beat'].value_counts()

NA        9859
N3        1175
E2        1092
K3         964
M2         852
M3         792
K3         752
E1         730
N2         709
R2         669
B1         643
U2         636
M1         626
F2         624
M3         592
B2         583
D1         576
L1         569
K2         562
L2         536
L3         534
S2         532
D2         530
E3         515
O1         491
S3         486
D1         464
D2         457
Q3         449
K1         448
J1         443
B3         432
G2         431
F3         422
M1         421
K2         410
U1         409
R1         406
D3         406
Q3         399
G3         386
W2         385
R3         380
C1         379
J3         376
C3         375
K1         351
O2         341
F1         332
S1         330
O3         329
W1         328
E2         322
E1         321
N3         320
Q2         314
N1         307
N2         301
J2         300
C2         283
E3         281
R2         275
O1         270
G1         270
U3         257
M2         245
F1         239
W3         228
F2         227
D3         223
Q2         217
R1         210
Q1         204
B2         204
F3         203
U2         201
J3         198
W2         197
S2         193
B1         192
O3         189
Q1         178
C1         167
U1         167
G1         165
S1         159
L3         146
O2         139
G3         138
G2         138
L1         137
L2         133
C3         131
R3         131
S3         124
J1         122
B3         122
W1         122
W3         110
C2          87
U3          85
J2          75
N1          73
99           2
Name: Beat, dtype: int64

In [71]:
df['Beat'].value_counts(normalize=True)

NA        0.209945
N3        0.025021
E2        0.023254
K3        0.020528
M2        0.018143
M3        0.016865
K3        0.016014
E1        0.015545
N2        0.015098
R2        0.014246
B1        0.013693
U2        0.013543
M1        0.013330
F2        0.013288
M3        0.012606
B2        0.012415
D1        0.012266
L1        0.012117
K2        0.011968
L2        0.011414
L3        0.011371
S2        0.011329
D2        0.011286
E3        0.010967
O1        0.010456
S3        0.010349
D1        0.009881
D2        0.009732
Q3        0.009561
K1        0.009540
J1        0.009434
B3        0.009199
G2        0.009178
F3        0.008986
M1        0.008965
K2        0.008731
U1        0.008710
R1        0.008646
D3        0.008646
Q3        0.008497
G3        0.008220
W2        0.008198
R3        0.008092
C1        0.008071
J3        0.008007
C3        0.007986
K1        0.007474
O2        0.007261
F1        0.007070
S1        0.007027
O3        0.007006
W1        0.006985
E2        0.006857
E1        0.006836
N3        0.006814
Q2        0.006687
N1        0.006537
N2        0.006410
J2        0.006388
C2        0.006026
E3        0.005984
R2        0.005856
O1        0.005750
G1        0.005750
U3        0.005473
M2        0.005217
F1        0.005089
W3        0.004855
F2        0.004834
D3        0.004749
Q2        0.004621
R1        0.004472
Q1        0.004344
B2        0.004344
F3        0.004323
U2        0.004280
J3        0.004216
W2        0.004195
S2        0.004110
B1        0.004089
O3        0.004025
Q1        0.003790
C1        0.003556
U1        0.003556
G1        0.003514
S1        0.003386
L3        0.003109
O2        0.002960
G3        0.002939
G2        0.002939
L1        0.002917
L2        0.002832
C3        0.002790
R3        0.002790
S3        0.002641
J1        0.002598
B3        0.002598
W1        0.002598
W3        0.002342
C2        0.001853
U3        0.001810
J2        0.001597
N1        0.001555
99        0.000043
Name: Beat, dtype: float64

## Analysis: `NA` is largest Category at 21%
`NA` is over 8 times larger that the next largest category.

### Creating a Beat Flag
Creating a binary flag where 1 indicates that a beat was entered into the record.

In [72]:
# creating beat flag
df['Beat Flag'] = df['Beat']

df['Beat Flag'] = df['Beat Flag'].replace('NA', 0)
df['Beat Flag'] = df['Beat Flag'].map(lambda x: 1 if x!=0 else 0)

In [73]:
df['Beat Flag'].value_counts()

1    37101
0     9859
Name: Beat Flag, dtype: int64

In [74]:
df['Beat Flag'].value_counts(normalize=True)

1    0.790055
0    0.209945
Name: Beat Flag, dtype: float64

In [75]:
df.drop('Beat', axis=1, inplace=True)

## Analysis: 21% of Stops Have no Beat Information

## Beat, Sector & Precinct Have Similar Rates of Nulls

## Dropping Sector

In [76]:
df.drop('Sector', axis=1, inplace=True)

### Checking Work So Far

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46960 entries, 0 to 47212
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Target                    46960 non-null  int64
 1   Subject Age Group         46960 non-null  object
 2   Subject ID                46960 non-null  int64
 3   GO / SC Num               46960 non-null  int64
 4   Terry Stop ID             46960 non-null  int64
 5   Stop Resolution           46960 non-null  object
 6   Weapon Type               46960 non-null  object
 7   Officer ID                46960 non-null  object
 8   Officer YOB               46960 non-null  int64
 9   Officer Gender            46960 non-null  object
 10  Officer Race              46960 non-null  object
 11  Subject Perceived Race    46960 non-null  object
 12  Subject Perceived Gender  46960 non-null  object
 13  Initial Call Type         46960 non-null  object
 14  Final Call Type           46960 non-null  object
 15  Call Type                 46960 non-null  object
 16  Officer Squad             46960 non-null  object
 17  Frisk Flag                46960 non-null  int64
 18  Precinct                  46960 non-null  object
 19  Weapon Flag               46960 non-null  int64
 20  Reported Year             46960 non-null  int64
 21  Reported Month            46960 non-null  int64
 22  Day of Month              46960 non-null  int64
 23  Day of Week               46960 non-null  int64
 24  Reported Hour             46960 non-null  int64
 25  Beat Flag                 46960 non-null  int64
dtypes: int64(13), object(13)
memory usage: 9.7+ MB

In [78]:
# checking columns
df.columns

Index(['Target', 'Subject Age Group', 'Subject ID', 'GO / SC Num',
       'Terry Stop ID', 'Stop Resolution', 'Weapon Type', 'Officer ID',
       'Officer YOB', 'Officer Gender', 'Officer Race',
       'Subject Perceived Race', 'Subject Perceived Gender',
       'Initial Call Type', 'Final Call Type', 'Call Type', 'Officer Squad',
       'Frisk Flag', 'Precinct', 'Weapon Flag', 'Reported Year',
       'Reported Month', 'Day of Month', 'Day of Week', 'Reported Hour',
       'Beat Flag'],
      dtype='object')

### Dropping Extraneous Columns

In [79]:
# dropping columns
df.drop(['Subject ID', 'GO / SC Num',
         'Terry Stop ID'], axis=1, inplace=True)

## Exporting Data for EDA

### Stop Resolution Remix

In [80]:
# checking uniques
df['Stop Resolution'].value_counts().to_dict()

{'Field Contact': 18915,
 'Offense Report': 15534,
 'Arrest': 11611,
 'Referred for Prosecution': 722,
 'Citation / Infraction': 178}

In [81]:
remix = {'Field Contact': 0,
 'Offense Report': 1,
 'Arrest': 1,
 'Referred for Prosecution': 1,
 'Citation / Infraction': 0}

### Creating the  Remixed Target Feature
Creating a binary feature where a value of 1 means an major outcome (Offense Report, Arrest, Referred for Prosecution), a value of 0 means a minor outcome (Field Contact, Citation/Infraction), and then moving it to the front of the data frame.

In [82]:
# creating and binarizing the target feature
df['Target Remixed'] = df['Stop Resolution']


df['Target Remixed'] = df['Target Remixed'].map(remix)

In [83]:
# moving target to the front of the data frame
column_name = 'Target Remixed'
first_column = df.pop(column_name)
df.insert(0, column_name, first_column)

In [84]:
df['Target Remixed'].value_counts()

1    27867
0    19093
Name: Target Remixed, dtype: int64

In [85]:
df['Target Remixed'].value_counts(normalize=True)

1    0.59342
0    0.40658
Name: Target Remixed, dtype: float64

In [86]:
df.head()

,Target Remixed,Target,Subject Age Group,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,Subject Perceived Race,...,Officer Squad,Frisk Flag,Precinct,Weapon Flag,Reported Year,Reported Month,Day of Month,Day of Week,Reported Hour,Beat Flag
0,1,1,NA,Arrest,None,7500,1984,M,Black,Asian,...,SOUTH PCT 1ST W - ROBERT,0,South,0,2015,10,16,4,11,1
1,0,0,NA,Field Contact,None,5670,1965,M,White,NA,...,NA,0,NA,0,2015,3,19,3,7,0
2,0,0,NA,Field Contact,None,4844,1961,M,White,White,...,NA,0,NA,0,2015,3,21,5,19,0
3,0,0,NA,Field Contact,None,7539,1963,M,White,NA,...,NA,0,NA,0,2015,4,1,2,4,0
4,0,0,NA,Field Contact,None,6973,1977,M,White,Black,...,NA,0,NA,0,2015,4,3,4,0,0

In [87]:
# # cleaned data with stop resolution column for eda
# path2 = os.path.join(gparent, 'data/processed', 'eda.csv')
# df.to_csv(path2, index=False, na_rep='NA')

In [88]:
# # cleaned data with stop resolution column for eda
# path2 = os.path.join(gparent, 'data/processed', 'eda_remixed.csv')
# df.to_csv(path2, index=False, na_rep='NA')

## Dropping Stop Resolution 
`Stop Resolution` contains target feature data and must be dropped for modeling purposes.

In [89]:
df.drop('Stop Resolution', axis=1, inplace=True)

## Exporting Data for Modeling

In [90]:
# # cleaned data without stop resolution for modeling
# path2 = os.path.join(gparent, 'data/processed', 'modeling.csv')
# df.to_csv(path2, index=False, na_rep='NA')

In [91]:
df.drop('Target', axis=1, inplace=True)

In [92]:
# # cleaned data without stop resolution or original target for modeling
# path2 = os.path.join(gparent, 'data/processed', 'modeling_remixed.csv')
# df.to_csv(path2, index=False, na_rep='NA')